.link-label:hover{
    -fx-background-color: #33cccc;
}
.link-label:pressed{
    -fx-background-color: #339999;
}
.button{
    -fx-background-color: #00aaaa;
    -fx-pref-height: 35;
    -fx-pref-width: 95;
}
.delete-btn{
    -fx-background-color: #ff0000;
}
.upload-btn{
    -fx-background-color: #339933;
}
.clear-btn{
    -fx-background-color: #ccdcdd;
}
.textfield{
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
    -fx-border-color: #cccccc;
}
.loginText{
    -fx-text-fill: red;
}
.menu-item{
    -fx-padding: 3 15 3 10;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane{
    -fx-tab-min-width:90px;
}
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab{
    -fx-background-color: #e6e6e6;
}
.tab-pane .tab:selected{
    -fx-background-color: #3c3c3c;
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-weight: bold;
}
.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}
.label-text{
    -fx-font-weight: bolder;
    -fx-font-size: 12px;
}
.label-title{    
    -fx-font-weight: bolder;
    -fx-font-size: 17px;
}
.label-title-small{    
    -fx-text-fill: #96b946;
}
.label-stack-pane{
    -fx-background-color: #3c3c3c;
}

